# Environnements et fichiers sensibles
.env
.venv/
skin_cancer_env/
model/downloaded_model/

model/cache/

# Fichiers Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Dossiers de données ou temporaires
Uploads/

# Autres fichiers courants
.DS_Store  # Pour macOSgit add .gitignore